.heading {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 40px;
}

span{
    color: rgb(230, 7, 7);
}

.loading-container {
    display: flex;
    justify-content: center;
  }
  .load {
    border: 16px solid #c6b5e6;
    border-top: 16px solid #14181a;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    animation: spin 2s linear infinite;
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  .created-url{
      margin-top: 10px;
  }